Flask~=3.1.0
Flask-Cors~=5.0.1
numpy~=2.2.3
scikit-image~=0.25.2
scikit-learn==1.2.2
joblib~=1.4.2
xgboost~=3.0.0
gunicorn
opencv-python-headless
cloudinary~=1.43.0
pymongo~=4.11.3
python-dotenv~=1.1.0
opencv-python~=4.11.0.86